body {
	background-image: url('../images/pisayboy.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
h1{
    text-align:center;
    background-color: #FFEECC;
    font-family: Times New Roman, Times, serif;
    border: 2px solid black;
    padding:10px, 15px, 10px, 15px;
    width: 250px;
    margin:0px 0px 20px 0px;
    margin:auto;
}
p{
    text-align:center;
    background-color: hsl(167,49%,37%);
    font-style:italicized;
    padding:20px;
    border:3px black;
    border-style:solid;
    width:500px;
    margin:auto;
}

span{
    font-weight:bold;
    font-style:italicized;
    color:rgb(100,75.3,79.6);
    margin:0,5px,0,2px;
}